@color-body:#fff;
@color-page:rgba(0,0,0,0.5);
@color-p:#000;
@color-stardart:rgb(233, 233, 233);
@color-supplies: #ccc;
@btn-original:rgba(204, 204, 204, 0.52);
@btntext-original:#000;
@btn-text:#fff;
// size page
@width:816px;
@height:1056px;
//---------------

@grayletter: #939598;
@color-background-header: #ff6855;
@color-background: #c9c9c9;


//---------