<section id="landing" class="landing">
    <div class="container header">
        <button class="button-new fa fa-bars fa-3x" ng-click="actions.Open()"></button>
        <p ng-show="mostrar"></p>
    </div>
    <div class="news container">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default"  ng-repeat="new in news track by $index">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{$index}}" ng-click="actions.OpenDetails()">
                            <div class="col-xs-4 col-sm-2">
                                <img class=" img-responsive imge-thumbnail" src="{{new.image}}">
                            </div>
                            <div class="col-xs-8 col-sm-10 thumbnail-title">
                                <p class="text-uppercase">{{new.title}}</p>
                            </div>
                        </a>
                    </h4>
                </div>
                <div id="collapse{{$index}}" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="col-xs-5 col-sm-4 imagen">
                            <img class=" img-responsive imge-details" src="{{new.image}}">
                        </div>
                        <div class="col-xs-7 col-sm-8 thumbnail-title">
                            <div class="row title">
                                <p class="text-uppercase">{{new.title}}</p>
                            </div>
                            <div class="row content">
                                <p class="text-lowercase ">{{new.content}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-2">
        <img class=" img-responsive imge-thumbnail" src="{{new.image}}">
    </div>
    <div class="col-xs-10 thumbnail-title">
        <p class="text-lowercase">{{new.title}}</p>
    </div>

</section>
